<xml>
	<config
			DNU="i don't understand"
			DNK="i don't know"
			SUCCESS="ok"
			FAILURE="sorry"
			ANSWER="whatever"
			IK="i know"
			TTL="5"
			TERMS=". ? !"
			URL="https://en.wikipedia.org/w/index.php?title="
			REPEATFORMAT="i said, ... ."
			ANDCONJUNCTIONS="and"
			 ORCONJUNCTIONS="or"
			REFERENCERS="the any"
			ATTRIBUTING="According to X,"
			LISTFORMATSEP=":"
			ANDLISTFORMAT=", :, and "
			ORLISTFORMAT=", :, or ">
			
		<concepts>
			<concept id="config/colloquia"           op="load"/>
			<concept id="config/plural"              op="load"/>
			<concept id="config/is_like+is_unlike"   op="load"/>
			<concept id="config/arithmetic"          op="load"/>
			<concept id="config/spatial+spatially"   op="load"/>
			<concept id="config/masculine+feminine"  op="load"/>
			<concept id="config/temporal"            op="load"/>
			<concept id="config/are_transitive"      op="load"/>
		</concepts>
	</config>
</xml>
