<xml>
	<config
			CLASSPATH="/home/martin/ws/Enguage/bin"
			SOFA="java com.yagadi.enguage.object.Sofa"
			MY_NAME="martin"
			DNU="i don't understand"
			DNK="i don't know"
			SUCCESS="ok"
			FAILURE="i'm sorry"
			ANSWER="whatever"
			IK="i know"
			TTL="5"
			TERMS=". ? !"
			VALUESEP="+"
			APOSTROPHES="true"
			REPEATFORMAT="i said, ... ."
			ANDCONJUNCTIONS="and"
			 ORCONJUNCTIONS="or"
			REFERENCERS="the any"
			LISTFORMATSEP=":"
			ANDLISTFORMAT=", :, and "
			ORLISTFORMAT=", :, or "
			SERVER="localhost"
			PORT="8080"
			XXMLPOST="/SOAP-ENV:Body>/SOAP-ENV:Envelope>"
			XXMLPRE='SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"xmlns:example="http://ws.cdyne.com/">SOAP-ENV:Header/>SOAP-ENV:Body>'
			XMLPOST=""
			XMLPRE="">
			
		<concepts>
			<concept id="colloquia"         op="load"/>
			<concept id="engine"            op="load"/>
			<concept id="plural"            op="load"/>
			<concept id="temporal"          op="load"/>
			<concept id="is_transitive"     op="load"/>
			<concept id="spatial+spatially" op="load"/>
			<concept id="set+get+unset"     op="load"/>
			<concept id="verbal/arithmetic" op="load"/>
		</concepts>
	</config>
</xml>
