<xml>
	<config
			SOFA="java com.yagadi.enguage.object.Sofa"
			MY_NAME="martin"
			DNU="i don't understand"
			DNK="i don't know"
			SUCCESS="ok"
			FAILURE="sorry"
			ANSWER="whatever"
			IK="i know"
			TTL="5"
			TERMS=". ? !"
			VALUESEP="+"
			APOSTROPHES="true"
			REPEATFORMAT="i said, ... ."
			ANDCONJUNCTIONS="and"
			 ORCONJUNCTIONS="or"
			REFERENCERS="the any"
			LISTFORMATSEP=":"
			ANDLISTFORMAT=", :, and "
			ORLISTFORMAT=", :, or "
			SERVER="localhost"
			PORT="8080"
			XXMLPOST="/SOAP-ENV:Body>/SOAP-ENV:Envelope>"
			XXMLPRE='SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"xmlns:example="http://ws.cdyne.com/">SOAP-ENV:Header/>SOAP-ENV:Body>'
			XMLPOST=""
			XMLPRE="">
			
		<concepts>
			<concept id="english/colloquia"              op="load"/>
			<concept id="english/plural"                 op="load"/>
			<concept id="language/is_like+is_unlike"     op="load"/>
			<concept id="maths/arithmetic"               op="load"/>
			<concept id="qualifiers/spatial+spatially"   op="load"/>
			<concept id="qualifiers/temporal"            op="load"/>
			<concept id="verbalReasoning/are_transitive" op="load"/>
		</concepts>
	</config>
</xml>
