<xml>
	<config
			CLASSPATH="/home/martin/ws/Enguage/bin"
			SOFA="java com.yagadi.enguage.object.Sofa"
			DNU="I do not understand"
			DNK="I do not know"
			SUCCESS="ok"
			FAILURE="sorry"
			ANSWER="whatever"
			IK="I know"
			TTL="5"
			TERMS=". ? !"
			VALUESEP="+"
			REPEATFORMAT="I said, ... ."
			ANDCONJUNCTIONS="and"
			 ORCONJUNCTIONS="or"
			REFERENCERS="the any"
			LISTFORMATSEP=":"
			ANDLISTFORMAT=", :, and "
			ORLISTFORMAT=", :, or "
			SERVER="localhost"
			PORT="5678"
			XMLPOST="</SOAP-ENV:Body></SOAP-ENV:Envelope>"
			XMLPRE='<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"xmlns:example="http://ws.cdyne.com/"><SOAP-ENV:Header/><SOAP-ENV:Body>'>
			
		<concepts>
			<concept id="colloquia"      op="load"/>
			<concept id="engine"         op="load"/>
			<concept id="plural"         op="load"/>
			<concept id="temporal"       op="load"/>
			<concept id="spatial"        op="load"/>
			<concept id="set+get+unset"  op="load"/>
			<concept id="arithmetic"     op="load"/>
		</concepts>
	</config>
</xml>
